Repository siketyan/jpki-rs, pull requests merged in 2022-10, with the labels that each got.

#62 feat: Generic FFI (C/C++) Support
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  examples/ffi-generic-cpp/.gitignore
  examples/ffi-generic-cpp/CMakeLists.txt
  examples/ffi-generic-cpp/jpki.h
  examples/ffi-generic-cpp/main.cpp
  ffi/generic/.gitignore
  ffi/generic/Cargo.toml
  ffi/generic/build.rs
  ffi/generic/cbindgen.toml
  ffi/generic/src/lib.rs
  rust-toolchain.toml
Labels: type/feature, area/ffi

#64 feat!: Rename JpkiAp to CryptoAp
  cli/src/main.rs
  core/src/ap/crypto.rs
  core/src/ap/mod.rs
  core/src/lib.rs
  core/src/pcsc.rs
  ffi/android/src/lib.rs
  ffi/generic/src/lib.rs
Labels: area/core, area/android, type/feature, area/ffi, !/breaking-changes

#65 feat: Support reading PIN statuses
  cli/README.md
  cli/src/main.rs
  core/src/ap/crypto.rs
  core/src/ap/support.rs
  core/src/ap/surface.rs
  core/src/card.rs
Labels: area/cli, area/core, type/feature, !/breaking-changes

#66 build(deps): Upgrade dependencies
  Cargo.lock
  cli/Cargo.toml
  cli/src/main.rs
  core/Cargo.toml
  ffi/generic/Cargo.toml
Labels: area/cli, area/core, type/deps

#67 ci: Use rust-cache
  .github/workflows/rust.yml
Labels: area/ci

#68 feat!: Moving digest module to cli, removing high-level APIs
  .github/workflows/rust.yml
  Cargo.lock
  cli/Cargo.toml
  cli/src/digest.rs
  cli/src/main.rs
  core/Cargo.toml
  core/src/lib.rs
  ffi/android/Cargo.toml
  ffi/android/src/lib.rs
Labels: area/cli, area/core, area/android, type/feature, !/breaking-changes

#69 chore: Release v0.4.0
  Cargo.lock
  README.md
  cli/Cargo.toml
  core/Cargo.toml
  ffi/android/Cargo.toml
  ffi/generic/Cargo.toml
Labels: type/release

#71 ci: Fix deploy workflow
  .github/workflows/rust.yml
  ffi/generic/Cargo.toml
Labels: type/fix, area/ci

#73 fix: Fix PIN for surface AP is prompted twice
  cli/src/main.rs
Labels: type/fix

#72 feat: Initial implementation of i18n
  Cargo.lock
  cli/Cargo.toml
  cli/locales/en.yml
  cli/locales/ja.yml
  cli/src/main.rs
Labels: area/cli, type/feature

#74 chore: Release v0.4.1
  .github/workflows/rust.yml
  Cargo.lock
  cli/Cargo.toml
  core/Cargo.toml
  ffi/android/Cargo.toml
  ffi/generic/Cargo.toml
Labels: type/release

#76 ci: Fix CI trigger
  .github/workflows/rust.yml
Labels: type/fix, area/ci

#75 Fix typo of attribute name
  core/src/ap/support.rs
Labels: area/core, type/fix, !/breaking-changes
